# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
.venv/
env/

# Environment
.env

# Node
frontend/node_modules/
frontend/dist/

# Vite
frontend/.vite/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db